Name: Sanaa Rafique
Date: Feb  15, 2019


# 1) **Data sources:-**

**American Community Survey **

a) 2017 ACS 5-year estimates --> Variable Used : % Below Poverty Level in 2017

b) 2016 ACS 5-year estimates --> Variable: Used: % Below poverty level in 2016

c) 2015 ACS 5-year estimates -->  Variable: Used: % Below poverty level in 2015

d) 2014 ACS 5-year estimates  --> Variable: Used: % Below poverty level in 2014

e) 2013 ACS 5-year estimates --> Variable: Used: % Below poverty level in 2013

f) 2012 ACS 5-year estimates -->  Variable: Used: % Below poverty level in 2012

 **Integrated Postsecondary Education Data System (IPEDS) Survey**
 
 
 Sample: Public 4-year colleges in Texas. The sample size is expected to increase once I add public and private 4-year colleges in Texas. 
 
 
2012, 2013, 2014, 2015, 2016, and 2017 Surveys --> Variables Used: Total enrollment, Percent of total enrollment that are American Indian or Alaska Native, Percent of total enrollment that are Asian, Percent of total enrollment that are Black or African American, Percent of total enrollment that are Hispanic/Latino, Percent of total enrollment that are Native Hawaiian or Other Pacific Islander, Percent of total enrollment that are White, and Percent of total enrollment that are two or more races

____________________________________________________________________________________________________

# 2) **Codebooks**

a) 2017 American Community Survey (ACS) Codebook  --> https://www2.census.gov/programs-surveys/acs/tech_docs/code_lists/2017_ACS_Code_Lists.pdf?# 

b) 2016 ACS Codebook --> https://www2.census.gov/programs-surveys/acs/tech_docs/code_lists/2016_ACS_Code_Lists.pdf?# 

c) 2015 ACS Codebook --> https://www2.census.gov/programs-surveys/acs/tech_docs/code_lists/2015_ACS_Code_Lists.pdf?# 

d) 2014 ACS Codebook --> https://www2.census.gov/programs-surveys/acs/tech_docs/code_lists/2014_ACS_Code_Lists.pdf?#

e) 2013 ACS Codebook --> https://www2.census.gov/programs-surveys/acs/tech_docs/code_lists/2013_ACS_Code_Lists.pdf?#

f) 2012 ACS Codebook --> https://www2.census.gov/programs-surveys/acs/tech_docs/code_lists/2012_ACS_Code_Lists.pdf?#


# 3) **Research Topic**

For this project, I will attempt to explore the relationship between enrollment patterns in Texas public and private 4-year colleges, and poverty rates of the zip codes of these colleges using multi-year data. In particular, I am interested in gauging how poverty rates of the collegesâ€™ zipcodes affect enrollment patterns by race. For instance, if enrollment continues to drop for a particular race over a few years in relation to poverty rates, what could that pattern suggest for policymakers?

In [0]:
import pandas as pd

data = pd.read_csv("Take Home Assignment 1 - Data.csv")
print("Getting the 48 records")
print(data.head(48))

print(data.columns)
print(list(data))

data.drop(["Unnamed: 50", "Unnamed: 51", "Unnamed: 52", "Unnamed: 53", "Unnamed: 54", "Unnamed: 55"], axis = 1, inplace = True) 

data

Getting the 48 records
                                     Institution Name  Zipcode  \
0                             Angelo State University    76909
1                                  Brazosport College    77566
2               Texas A & M University-Corpus Christi    78412
3                      Texas A&M University-Texarkana    75503
4                     Texas A & M University-Commerce    75429
5                    University of Houston-Clear Lake    77058
6                      University of Houston-Downtown    77002
7                      University of Houston-Victoria    77901
8                               University of Houston    77204
9                                    Lamar University    77705
10               Texas A & M International University    78041
11                                    Midland College    79705
12                        Midwestern State University    76308
13                          University of North Texas    76203
14          The University of Texas Rio Grande Valley    78539
15                      Prairie View A & M University    77446
16                       Sam Houston State University    77340
17                  Stephen F Austin State University    75961
18                             Texas State University    78666
19                          Sul Ross State University    79832
20                          Tarleton State University    76401
21    University of Texas Southwestern Medical Center    75390
22  The University of Texas Health Science Center ...    78229
23             The University of Texas Medical Branch    77555
24                  Texas A & M University-Kingsville    78363
25             Texas A & M University-College Station    77843
26               The University of Texas at Arlington    76013
27                  The University of Texas at Austin    78712
28                  The University of Texas at Dallas    75080
29                 The University of Texas at El Paso    79968
30                   The University of Texas at Tyler    75799
31    University of North Texas Health Science Center    76107
32       The University of Texas of the Permian Basin    79762
33             The University of Texas at San Antonio    78249
34                          Texas Southern University    77004
35                              Texas Tech University    79409
36                           Texas Woman's University    76204
37  The University of Texas Health Science Center ...    77030
38       Texas Tech University Health Sciences Center    79430
39                               Tyler Junior College    75701
40                        West Texas A & M University    79016
41                                South Texas College    78502
42  The University of Texas MD Anderson Cancer Center    77030
43                   Texas A&M University-San Antonio    78224
44               Texas A & M University-Central Texas    76549
45                University of North Texas at Dallas    75241
46  University of Texas Health Science Center at T...    75708

    2017.Total  enrollment  \
0                    10417
1                     4245
2                    12232
3                     2066
4                    13244
5                     8542
6                    13919
7                     4353
8                    45364
9                    14506
10                    7640
11                    5564
12                    6080
13                   38276
14                   27809
15                    9219
16                   20938
17                   12614
18                   38666
19                    2946
20                   13019
21                    2238
22                    3277
23                    3302
24                    8674
25                   67929
26                   46497
27                   51525
28                   27642
29                   25078
30                   10402
31                    2285
32                    7022
33                   30768
34                   10237
35                   36996
36                   15473
37                    5242
38                    5453
39                   11649
40                   10060
41                   31321
42                     357
43                    6337
44                    2575
45                    3509
46                      35

    2017.Percent of total enrollment that are American Indian or Alaska Native  \
0                                                   0
1                                                   0
2                                                   1
3                                                   1
4                                                   0
5                                                   0
6                                                   0
7                                                   0
8                                                   0
9                                                   0
10                                                  0
11                                                  1
12                                                  1
13                                                  0
14                                                  0
15                                                  0
16                                                  1
17                                                  0
18                                                  0
19                                                  0
20                                                  1
21                                                  0
22                                                  0
23                                                  0
24                                                  0
25                                                  0
26                                                  0
27                                                  0
28                                                  0
29                                                  0
30                                                  0
31                                                  1
32                                                  0
33                                                  0
34                                                  1
35                                                  0
36                                                  0
37                                                  0
38                                                  1
39                                                  1
40                                                  0
41                                                  0
42                                                  1
43                                                  1
44                                                  1
45                                                  0
46                                                  0

    2017.Percent of total enrollment that are Asian  \
0                                                 1
1                                                 1
2                                                 4
3                                                 2
4                                                 3
5                                                 7
6                                                 9
7                                                 8
8                                                21
9                                                 4
10                                                0
11                                                2
12                                                3
13                                                6
14                                                1
15                                                2
16                                                2
17                                                1
18                                                2
19                                                0
20                                                1
21                                               19
22                                               12
23                                               18
24                                                1
25                                                7
26                                               10
27                                               18
28                                               23
29                                                1
30                                                4
31                                               28
32                                                3
33                                                5
34                                                3
35                                                2
36                                                9
37                                               19
38                                               13
39                                                2
40                                                3
41                                                1
42                                               26
43                                                2
44                                                3
45                                                2
46                                                3

    2017.Percent of total enrollment that are Black or African American  \
0                                                   6
1                                                   6
2                                                   6
3                                                  15
4                                                  20
5                                                   8
6                                                  21
7                                                  18
8                                                  10
9                                                  24
10                                                  0
11                                                  6
12                                                 14
13                                                 12
14                                                  1
15                                                 82
16                                                 17
17                                                 17
18                                                 10
19                                                  6
20                                                  9
21                                                  3
22                                                  5
23                                                  8
24                                                  5
25                                                  3
26                                                 14
27                                                  4
28                                                  5
29                                                  3
30                                                 11
31                                                  7
32                                                  5
33                                                  9
34                                                 77
35                                                  6
36                                                 17
37                                                 11
38                                                  7
39                                                 20
40                                                  5
41                                                  0
42                                                 11
43                                                  7
44                                                 27
45                                                 31
46                                                 23

    2017.Percent of total enrollment that are Hispanic/Latino  \
0                                                  33
1                                                  40
2                                                  48
3                                                  13
4                                                  18
5                                                  32
6                                                  45
7                                                  35
8                                                  31
9                                                  17
10                                                 94
11                                                 49
12                                                 18
13                                                 22
14                                                 89
15                                                  9
16                                                 23
17                                                 18
18                                                 36
19                                                 62
20                                                 19
21                                                  9
22                                                 31
23                                                 18
24                                                 65
25                                                 21
26                                                 24
27                                                 20
28                                                 14
29                                                 80
30                                                 18
31                                                 13
32                                                 45
33                                                 53
34                                                  8
35                                                 25
36                                                 25
37                                                 18
38                                                 17
39                                                 22
40                                                 25
41                                                 95
42                                                 31
43                                                 42
44                                                 23
45                                                 46
46                                                  9

    2017.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander  \
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   0
5                                                   0
6                                                   0
7                                                   0
8                                                   0
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                                  0
15                                                  0
16                                                  0
17                                                  0
18                                                  0
19                                                  0
20                                                  0
21                                                  0
22                                                  0
23                                                  0
24                                                  0
25                                                  0
26                                                  0
27                                                  0
28                                                  0
29                                                  0
30                                                  0
31                                                  0
32                                                  0
33                                                  0
34                                                  0
35                                                  0
36                                                  0
37                                                  0
38                                                  0
39                                                  0
40                                                  0
41                                                  0
42                                                  1
43                                                  0
44                                                  1
45                                                  0
46                                                  0

    2017.Percent of total enrollment that are White  \
0                                                53
1                                                47
2                                                36
3                                                62
4                                                47
5                                                38
6                                                16
7                                                33
8                                                26
9                                                47
10                                                2
11                                               38
12                                               51
13                                               46
14                                                3
15                                                2
16                                               51
17                                               58
18                                               47
19                                               26
20                                               66
21                                               33
22                                               42
23                                               46
24                                               14
25                                               57
26                                               36
27                                               42
28                                               30
29                                                7
30                                               58
31                                               45
32                                               39
33                                               24
34                                                2
35                                               55
36                                               42
37                                               38
38                                               38
39                                               54
40                                               59
41                                                2
42                                               24
43                                               35
44                                               42
45                                               16
46                                               43

    2017.Percent of total enrollment that are two or more races     ...       \
0                                                   3               ...

,Institution Name,Zipcode,2017.Total enrollment,2017.Percent of total enrollment that are American Indian or Alaska Native,2017.Percent of total enrollment that are Asian,2017.Percent of total enrollment that are Black or African American,2017.Percent of total enrollment that are Hispanic/Latino,2017.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander,2017.Percent of total enrollment that are White,2017.Percent of total enrollment that are two or more races,...,2013.Percent of total enrollment that are White,2013.Percent of total enrollment that are two or more races,2012.Total enrollment,2012.Percent of total enrollment that are American Indian or Alaska Native,2012.Percent of total enrollment that are Asian,2012.Percent of total enrollment that are Black or African American,2012.Percent of total enrollment that are Hispanic/Latino,2012.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander,2012.Percent of total enrollment that are White,2012.Percent of total enrollment that are two or more races
0,Angelo State University,76909,10417,0,1,6,33,0,53,3,...,57.0,2.0,6888.0,1.0,1.0,8.0,27.0,0.0,58.0,2.0
1,Brazosport College,77566,4245,0,1,6,40,0,47,3,...,53.0,3.0,4047.0,0.0,1.0,7.0,34.0,0.0,53.0,3.0
2,Texas A & M University-Corpus Christi,78412,12232,1,4,6,48,0,36,0,...,41.0,1.0,10508.0,0.0,2.0,5.0,43.0,0.0,42.0,1.0
3,Texas A&M University-Texarkana,75503,2066,1,2,15,13,0,62,4,...,68.0,2.0,1995.0,1.0,1.0,17.0,9.0,0.0,70.0,2.0
4,Texas A & M University-Commerce,75429,13244,0,3,20,18,0,47,6,...,54.0,3.0,11861.0,1.0,3.0,18.0,12.0,0.0,55.0,2.0
5,University of Houston-Clear Lake,77058,8542,0,7,8,32,0,38,3,...,42.0,2.0,8153.0,0.0,6.0,10.0,25.0,0.0,45.0,2.0
6,University of Houston-Downtown,77002,13919,0,9,21,45,0,16,1,...,18.0,1.0,13916.0,0.0,8.0,27.0,38.0,0.0,19.0,1.0
7,University of Houston-Victoria,77901,4353,0,8,18,35,0,33,3,...,39.0,2.0,4335.0,0.0,9.0,19.0,24.0,0.0,40.0,2.0
8,University of Houston,77204,45364,0,21,10,31,0,26,3,...,31.0,3.0,40747.0,0.0,19.0,11.0,25.0,0.0,32.0,3.0
9,Lamar University,77705,14506,0,4,24,17,0,47,2,...,51.0,2.0,14289.0,1.0,3.0,27.0,10.0,0.0,52.0,1.0
10,Texas A & M International University,78041,7640,0,0,0,94,0,2,0,...,2.0,0.0,7213.0,0.0,1.0,1.0,93.0,0.0,2.0,0.0
11,Midland College,79705,5564,1,2,6,49,0,38,2,...,45.0,1.0,5530.0,0.0,2.0,5.0,39.0,0.0,47.0,1.0
12,Midwestern State University,76308,6080,1,3,14,18,0,51,4,...,58.0,2.0,5916.0,1.0,3.0,12.0,12.0,0.0,60.0,2.0
13,University of North Texas,76203,38276,0,6,12,22,0,46,6,...,52.0,3.0,37950.0,0.0,5.0,13.0,17.0,0.0,54.0,3.0
14,The University of Texas Rio Grande Valley,78539,27809,0,1,1,89,0,3,0,...,3.0,0.0,19302.0,0.0,1.0,1.0,89.0,0.0,4.0,0.0
15,Prairie View A & M University,77446,9219,0,2,82,9,0,2,1,...,3.0,1.0,8336.0,0.0,3.0,83.0,6.0,0.0,5.0,2.0
16,Sam Houston State University,77340,20938,1,2,17,23,0,51,3,...,56.0,2.0,18461.0,0.0,1.0,17.0,17.0,0.0,59.0,2.0
17,Stephen F Austin State University,75961,12614,0,1,17,18,0,58,4,...,59.0,2.0,12999.0,0.0,1.0,22.0,12.0,0.0,59.0,1.0
18,Texas State University,78666,38666,0,2,10,36,0,47,3,...,54.0,3.0,34225.0,0.0,2.0,6.0,28.0,0.0,57.0,2.0
19,Sul Ross State University,79832,2946,0,0,6,62,0,26,3,...,29.0,1.0,2680.0,1.0,1.0,5.0,62.0,0.0,30.0,0.0
20,Tarleton State University,76401,13019,1,1,9,19,0,66,3,...,68.0,3.0,12524.0,1.0,1.0,6.0,11.0,0.0,61.0,2.0
21,University of Texas Southwestern Medical Center,75390,2238,0,19,3,9,0,33,3,...,37.0,1.0,2424.0,0.0,19.0,3.0,8.0,0.0,39.0,1.0
22,The University of Texas Health Science Center ...,78229,3277,0,12,5,31,0,42,3,...,45.0,2.0,3249.0,0.0,13.0,4.0,26.0,0.0,46.0,2.0
23,The University of Texas Medical Branch,77555,3302,0,18,8,18,0,46,2,...,48.0,2.0,3012.0,1.0,15.0,10.0,17.0,0.0,48.0,2.0
24,Texas A & M University-Kingsville,78363,8674,0,1,5,65,0,14,0,...,20.0,1.0,11350.0,0.0,1.0,6.0,64.0,0.0,21.0,1.0
25,Texas A & M University-College Station,77843,67929,0,7,3,21,0,57,3,...,63.0,3.0,50627.0,0.0,5.0,3.0,16.0,0.0,64.0,2.0
26,The University of Texas at Arlington,76013,46497,0,10,14,24,0,36,3,...,40.0,3.0,33239.0,0.0,10.0,14.0,21.0,0.0,42.0,3.0
27,The University of Texas at Austin,78712,51525,0,18,4,20,0,42,3,...,48.0,3.0,52186.0,0.0,15.0,4.0,18.0,0.0,50.0,2.0
28,The University of Texas at Dallas,75080,27642,0,23,5,14,0,30,3,...,35.0,3.0,19727.0,0.0,18.0,5.0,12.0,0.0,38.0,3.0
29,The University of Texas at El Paso,79968,25078,0,1,3,80,0,7,1,...,9.0,1.0,22749.0,0.0,1.0,3.0,77.0,0.0,10.0,0.0
30,The University of Texas at Tyler,75799,10402,0,4,11,18,0,58,4,...,63.0,7.0,6858.0,0.0,3.0,10.0,11.0,0.0,66.0,7.0
31,University of North Texas Health Science Center,76107,2285,1,28,7,13,0,45,0,...,48.0,3.0,1949.0,0.0,21.0,8.0,10.0,0.0,49.0,2.0
32,The University of Texas of the Permian Basin,79762,7022,0,3,5,45,0,39,2,...,46.0,1.0,4021.0,1.0,3.0,5.0,42.0,0.0,46.0,1.0
33,The University of Texas at San Antonio,78249,30768,0,5,9,53,0,24,3,...,29.0,3.0,30474.0,0.0,5.0,9.0,45.0,0.0,31.0,3.0
34,Texas Southern University,77004,10237,1,3,77,8,0,2,2,...,3.0,0.0,9646.0,0.0,5.0,82.0,6.0,0.0,3.0,0.0
35,Texas Tech University,79409,36996,0,2,6,25,0,55,2,...,62.0,3.0,32467.0,0.0,3.0,5.0,18.0,0.0,64.0,2.0
36,Texas Woman's University,76204,15473,0,9,17,25,0,42,3,...,46.0,3.0,15168.0,1.0,8.0,20.0,18.0,0.0,47.0,2.0
37,The University of Texas Health Science Center ...,77030,5242,0,19,11,18,0,38,2,...,42.0,2.0,4489.0,0.0,15.0,8.0,8.0,0.0,49.0,2.0
38,Texas Tech University Health Sciences Center,79430,5453,1,13,7,17,0,38,0,...,56.0,0.0,4370.0,1.0,15.0,7.0,15.0,0.0,58.0,0.0
39,Tyler Junior College,75701,11649,1,2,20,22,0,54,0,...,57.0,2.0,11374.0,1.0,1.0,23.0,13.0,0.0,59.0,1.0
40,West Texas A & M University,79016,10060,0,3,5,25,0,59,3,...,65.0,2.0,7909.0,1.0,1.0,5.0,21.0,0.0,67.0,2.0
41,South Texas College,78502,31321,0,1,0,95,0,2,0,...,3.0,0.0,30824.0,0.0,1.0,0.0,92.0,0.0,3.0,0.0
42,The University of Texas MD Anderson Cancer Center,77030,357,1,26,11,31,1,24,0,...,31.0,0.0,290.0,0.0,22.0,11.0,13.0,0.0,37.0,0.0
43,Texas A&M University-San Antonio,78224,6337,1,2,7,42,0,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Texas A & M University-Central Texas,76549,2575,1,3,27,23,1,42,3,...,45.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,University of North Texas at Dallas,75241,3509,0,2,31,46,0,16,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,University of Texas Health Science Center at T...,75708,35,0,3,23,9,0,43,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
print("Getting specific observation based on index location")
print(data.loc[25])

print("Getting specific columns")
data_1 = data[["Institution Name","2017.Total  enrollment"]]
print(data_1)

Getting specific observation based on index location
Institution Name                                                                       Texas A & M University-College Station
Zipcode                                                                                                                 77843
2017.Total  enrollment                                                                                                  67929
2017.Percent of total enrollment that are American Indian or Alaska Native                                                  0
2017.Percent of total enrollment that are Asian                                                                             7
2017.Percent of total enrollment that are Black or African American                                                         3
2017.Percent of total enrollment that are Hispanic/Latino                                                                  21
2017.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander                                         0
2017.Percent of total enrollment that are White                                                                            57
2017.Percent of total enrollment that are two or more races                                                                 3
2016.Total  enrollment                                                                                                  65632
2016.Percent of total enrollment that are American Indian or Alaska Native                                                  0
2016.Percent of total enrollment that are Asian                                                                             7
2016.Percent of total enrollment that are Black or African American                                                         3
2016.Percent of total enrollment that are Hispanic/Latino                                                                  20
2016.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander                                         0
2016.Percent of total enrollment that are White                                                                            59
2016.Percent of total enrollment that are two or more races                                                                 3
2015.Total  enrollment                                                                                                  63813
2015.Percent of total enrollment that are American Indian or Alaska Native                                                  0
2015.Percent of total enrollment that are Asian                                                                             6
2015.Percent of total enrollment that are Black or African American                                                         3
2015.Percent of total enrollment that are Hispanic/Latino                                                                  19
2015.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander                                         0
2015.Percent of total enrollment that are White                                                                            59
2015.Percent of total enrollment that are two or more races                                                                 3
2014.Total  enrollment                                                                                                  61642
2014.Percent of total enrollment that are American Indian or Alaska Native                                                  0
2014.Percent of total enrollment that are Asian                                                                             6
2014.Percent of total enrollment that are Black or African American                                                         3
2014.Percent of total enrollment that are Hispanic/Latino                                                                  18
2014.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander                                         0
2014.Percent of total enrollment that are White                                                                            61
2014.Percent of total enrollment that are two or more races                                                                 3
2013.Total  enrollment                                                                                                  55697
2013_RV.Percent of total enrollment that are American Indian or Alaska Native                                               0
2013.Percent of total enrollment that are Asian                                                                             5
2013.Percent of total enrollment that are Black or African American                                                         3
2013.Percent of total enrollment that are Hispanic/Latino                                                                  17
2013.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander                                         0
2013.Percent of total enrollment that are White                                                                            63
2013.Percent of total enrollment that are two or more races                                                                 3
2012.Total  enrollment                                                                                                  50627
2012.Percent of total enrollment that are American Indian or Alaska Native                                                  0
2012.Percent of total enrollment that are Asian                                                                             5
2012.Percent of total enrollment that are Black or African American                                                         3
2012.Percent of total enrollment that are Hispanic/Latino                                                                  16
2012.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander                                         0
2012.Percent of total enrollment that are White                                                                            64
2012.Percent of total enrollment that are two or more races                                                                 2
Name: 25, dtype: object
Getting specific columns
                                     Institution Name  2017.Total  enrollment
0                             Angelo State University                   10417
1                                  Brazosport College                    4245
2               Texas A & M University-Corpus Christi                   12232
3                      Texas A&M University-Texarkana                    2066
4                     Texas A & M University-Commerce                   13244
5                    University of Houston-Clear Lake                    8542
6                      University of Houston-Downtown                   13919
7                      University of Houston-Victoria                    4353
8                               University of Houston                   45364
9                                    Lamar University                   14506
10               Texas A & M International University                    7640
11                                    Midland College                    5564
12                        Midwestern State University                    6080
13                          University of North Texas                   38276
14          The University of Texas Rio Grande Valley                   27809
15                      Prairie View A & M University                    9219
16                       Sam Houston State University                   20938
17                  Stephen F Austin State University                   12614
18                             Texas State University                   38666
19                          Sul Ross State University                    2946
20                          Tarleton State University                   13019
21    University of Texas Southwestern Medical Center                    2238
22  The University of Texas Health Science Center ...                    3277
23             The University of Texas Medical Branch                    3302
24                  Texas A & M University-Kingsville                    8674
25             Texas A & M University-College Station                   67929
26               The University of Texas at Arlington                   46497
27                  The University of Texas at Austin                   51525
28                  The University of Texas at Dallas                   27642
29                 The University of Texas at El Paso                   25078
30                   The University of Texas at Tyler                   10402
31    University of North Texas Health Science Center                    2285
32       The University of Texas of the Permian Basin                    7022
33             The University of Texas at San Antonio                   30768
34                          Texas Southern University                   10237
35                              Texas Tech University                   36996
36                           Texas Woman's University                   15473
37  The University of Texas Health Science Center ...                    5242
38       Texas Tech University Health Sciences Center                    5453
39                               Tyler Junior College                   11649
40                        West Texas A & M University                   10060
41                                South Texas College                   31321
42  The University of Texas MD Anderson Cancer Center                     357
43                   Texas A&M University-San Antonio                    6337
44               Texas A & M University-Central Texas                    2575
45                University of North Texas at Dallas                    3509
46  University of Texas Health Science Center at T...                      35

**Importing both the datasets**

In [0]:
import pandas as pd

data_2 =  pd.read_csv("Take Home Assignment 1 - Data.csv")

data_3 = pd.read_csv("Poverty Rate by Zipcode.csv")

print(data_2.head())

print(data_3.head())


data_2.drop(["Unnamed: 50", "Unnamed: 51", "Unnamed: 52", "Unnamed: 53", "Unnamed: 54", "Unnamed: 55"], axis = 1, inplace = True) 

data_2

                        Institution Name  Zipcode  2017.Total  enrollment  \
0                Angelo State University    76909                   10417
1                     Brazosport College    77566                    4245
2  Texas A & M University-Corpus Christi    78412                   12232
3         Texas A&M University-Texarkana    75503                    2066
4        Texas A & M University-Commerce    75429                   13244

   2017.Percent of total enrollment that are American Indian or Alaska Native  \
0                                                  0
1                                                  0
2                                                  1
3                                                  1
4                                                  0

   2017.Percent of total enrollment that are Asian  \
0                                                1
1                                                1
2                                                4
3                                                2
4                                                3

   2017.Percent of total enrollment that are Black or African American  \
0                                                  6
1                                                  6
2                                                  6
3                                                 15
4                                                 20

   2017.Percent of total enrollment that are Hispanic/Latino  \
0                                                 33
1                                                 40
2                                                 48
3                                                 13
4                                                 18

   2017.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   2017.Percent of total enrollment that are White  \
0                                               53
1                                               47
2                                               36
3                                               62
4                                               47

   2017.Percent of total enrollment that are two or more races     ...       \
0                                                  3               ...
1                                                  3               ...
2                                                  0               ...
3                                                  4               ...
4                                                  6               ...

   2012.Percent of total enrollment that are Hispanic/Latino  \
0                                               27.0
1                                               34.0
2                                               43.0
3                                                9.0
4                                               12.0

   2012.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander  \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                0.0
4                                                0.0

   2012.Percent of total enrollment that are White  \
0                                             58.0
1                                             53.0
2                                             42.0
3                                             70.0
4                                             55.0

   2012.Percent of total enrollment that are two or more races  Unnamed: 50  \
0                                                2.0                    NaN
1                                                3.0                    NaN
2                                                1.0                    NaN
3                                                2.0                    NaN
4                                                2.0                    NaN

   Unnamed: 51  Unnamed: 52  Unnamed: 53  Unnamed: 54  Unnamed: 55
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

[5 rows x 56 columns]
   Zipcode 2017.Poverty Rate 2016.Poverty Rate 2015.Poverty Rate  \
0    73430               6.8                 8               9.6
1    73931               9.9               4.8               4.1
2    73949              12.5              11.7               8.3
3    75001               8.6               8.5                10
4    75002               6.9               6.9               7.8

  2014.Poverty Rate 2013.Poverty Rate 2012.Poverty Rate
0              11.1              13.8                15
1               4.4               2.6               1.4
2              11.5               9.4              10.9
3              12.8                13              14.9
4               7.9               7.1               5.6

,Institution Name,Zipcode,2017.Total enrollment,2017.Percent of total enrollment that are American Indian or Alaska Native,2017.Percent of total enrollment that are Asian,2017.Percent of total enrollment that are Black or African American,2017.Percent of total enrollment that are Hispanic/Latino,2017.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander,2017.Percent of total enrollment that are White,2017.Percent of total enrollment that are two or more races,...,2013.Percent of total enrollment that are White,2013.Percent of total enrollment that are two or more races,2012.Total enrollment,2012.Percent of total enrollment that are American Indian or Alaska Native,2012.Percent of total enrollment that are Asian,2012.Percent of total enrollment that are Black or African American,2012.Percent of total enrollment that are Hispanic/Latino,2012.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander,2012.Percent of total enrollment that are White,2012.Percent of total enrollment that are two or more races
0,Angelo State University,76909,10417,0,1,6,33,0,53,3,...,57.0,2.0,6888.0,1.0,1.0,8.0,27.0,0.0,58.0,2.0
1,Brazosport College,77566,4245,0,1,6,40,0,47,3,...,53.0,3.0,4047.0,0.0,1.0,7.0,34.0,0.0,53.0,3.0
2,Texas A & M University-Corpus Christi,78412,12232,1,4,6,48,0,36,0,...,41.0,1.0,10508.0,0.0,2.0,5.0,43.0,0.0,42.0,1.0
3,Texas A&M University-Texarkana,75503,2066,1,2,15,13,0,62,4,...,68.0,2.0,1995.0,1.0,1.0,17.0,9.0,0.0,70.0,2.0
4,Texas A & M University-Commerce,75429,13244,0,3,20,18,0,47,6,...,54.0,3.0,11861.0,1.0,3.0,18.0,12.0,0.0,55.0,2.0
5,University of Houston-Clear Lake,77058,8542,0,7,8,32,0,38,3,...,42.0,2.0,8153.0,0.0,6.0,10.0,25.0,0.0,45.0,2.0
6,University of Houston-Downtown,77002,13919,0,9,21,45,0,16,1,...,18.0,1.0,13916.0,0.0,8.0,27.0,38.0,0.0,19.0,1.0
7,University of Houston-Victoria,77901,4353,0,8,18,35,0,33,3,...,39.0,2.0,4335.0,0.0,9.0,19.0,24.0,0.0,40.0,2.0
8,University of Houston,77204,45364,0,21,10,31,0,26,3,...,31.0,3.0,40747.0,0.0,19.0,11.0,25.0,0.0,32.0,3.0
9,Lamar University,77705,14506,0,4,24,17,0,47,2,...,51.0,2.0,14289.0,1.0,3.0,27.0,10.0,0.0,52.0,1.0
10,Texas A & M International University,78041,7640,0,0,0,94,0,2,0,...,2.0,0.0,7213.0,0.0,1.0,1.0,93.0,0.0,2.0,0.0
11,Midland College,79705,5564,1,2,6,49,0,38,2,...,45.0,1.0,5530.0,0.0,2.0,5.0,39.0,0.0,47.0,1.0
12,Midwestern State University,76308,6080,1,3,14,18,0,51,4,...,58.0,2.0,5916.0,1.0,3.0,12.0,12.0,0.0,60.0,2.0
13,University of North Texas,76203,38276,0,6,12,22,0,46,6,...,52.0,3.0,37950.0,0.0,5.0,13.0,17.0,0.0,54.0,3.0
14,The University of Texas Rio Grande Valley,78539,27809,0,1,1,89,0,3,0,...,3.0,0.0,19302.0,0.0,1.0,1.0,89.0,0.0,4.0,0.0
15,Prairie View A & M University,77446,9219,0,2,82,9,0,2,1,...,3.0,1.0,8336.0,0.0,3.0,83.0,6.0,0.0,5.0,2.0
16,Sam Houston State University,77340,20938,1,2,17,23,0,51,3,...,56.0,2.0,18461.0,0.0,1.0,17.0,17.0,0.0,59.0,2.0
17,Stephen F Austin State University,75961,12614,0,1,17,18,0,58,4,...,59.0,2.0,12999.0,0.0,1.0,22.0,12.0,0.0,59.0,1.0
18,Texas State University,78666,38666,0,2,10,36,0,47,3,...,54.0,3.0,34225.0,0.0,2.0,6.0,28.0,0.0,57.0,2.0
19,Sul Ross State University,79832,2946,0,0,6,62,0,26,3,...,29.0,1.0,2680.0,1.0,1.0,5.0,62.0,0.0,30.0,0.0
20,Tarleton State University,76401,13019,1,1,9,19,0,66,3,...,68.0,3.0,12524.0,1.0,1.0,6.0,11.0,0.0,61.0,2.0
21,University of Texas Southwestern Medical Center,75390,2238,0,19,3,9,0,33,3,...,37.0,1.0,2424.0,0.0,19.0,3.0,8.0,0.0,39.0,1.0
22,The University of Texas Health Science Center ...,78229,3277,0,12,5,31,0,42,3,...,45.0,2.0,3249.0,0.0,13.0,4.0,26.0,0.0,46.0,2.0
23,The University of Texas Medical Branch,77555,3302,0,18,8,18,0,46,2,...,48.0,2.0,3012.0,1.0,15.0,10.0,17.0,0.0,48.0,2.0
24,Texas A & M University-Kingsville,78363,8674,0,1,5,65,0,14,0,...,20.0,1.0,11350.0,0.0,1.0,6.0,64.0,0.0,21.0,1.0
25,Texas A & M University-College Station,77843,67929,0,7,3,21,0,57,3,...,63.0,3.0,50627.0,0.0,5.0,3.0,16.0,0.0,64.0,2.0
26,The University of Texas at Arlington,76013,46497,0,10,14,24,0,36,3,...,40.0,3.0,33239.0,0.0,10.0,14.0,21.0,0.0,42.0,3.0
27,The University of Texas at Austin,78712,51525,0,18,4,20,0,42,3,...,48.0,3.0,52186.0,0.0,15.0,4.0,18.0,0.0,50.0,2.0
28,The University of Texas at Dallas,75080,27642,0,23,5,14,0,30,3,...,35.0,3.0,19727.0,0.0,18.0,5.0,12.0,0.0,38.0,3.0
29,The University of Texas at El Paso,79968,25078,0,1,3,80,0,7,1,...,9.0,1.0,22749.0,0.0,1.0,3.0,77.0,0.0,10.0,0.0
30,The University of Texas at Tyler,75799,10402,0,4,11,18,0,58,4,...,63.0,7.0,6858.0,0.0,3.0,10.0,11.0,0.0,66.0,7.0
31,University of North Texas Health Science Center,76107,2285,1,28,7,13,0,45,0,...,48.0,3.0,1949.0,0.0,21.0,8.0,10.0,0.0,49.0,2.0
32,The University of Texas of the Permian Basin,79762,7022,0,3,5,45,0,39,2,...,46.0,1.0,4021.0,1.0,3.0,5.0,42.0,0.0,46.0,1.0
33,The University of Texas at San Antonio,78249,30768,0,5,9,53,0,24,3,...,29.0,3.0,30474.0,0.0,5.0,9.0,45.0,0.0,31.0,3.0
34,Texas Southern University,77004,10237,1,3,77,8,0,2,2,...,3.0,0.0,9646.0,0.0,5.0,82.0,6.0,0.0,3.0,0.0
35,Texas Tech University,79409,36996,0,2,6,25,0,55,2,...,62.0,3.0,32467.0,0.0,3.0,5.0,18.0,0.0,64.0,2.0
36,Texas Woman's University,76204,15473,0,9,17,25,0,42,3,...,46.0,3.0,15168.0,1.0,8.0,20.0,18.0,0.0,47.0,2.0
37,The University of Texas Health Science Center ...,77030,5242,0,19,11,18,0,38,2,...,42.0,2.0,4489.0,0.0,15.0,8.0,8.0,0.0,49.0,2.0
38,Texas Tech University Health Sciences Center,79430,5453,1,13,7,17,0,38,0,...,56.0,0.0,4370.0,1.0,15.0,7.0,15.0,0.0,58.0,0.0
39,Tyler Junior College,75701,11649,1,2,20,22,0,54,0,...,57.0,2.0,11374.0,1.0,1.0,23.0,13.0,0.0,59.0,1.0
40,West Texas A & M University,79016,10060,0,3,5,25,0,59,3,...,65.0,2.0,7909.0,1.0,1.0,5.0,21.0,0.0,67.0,2.0
41,South Texas College,78502,31321,0,1,0,95,0,2,0,...,3.0,0.0,30824.0,0.0,1.0,0.0,92.0,0.0,3.0,0.0
42,The University of Texas MD Anderson Cancer Center,77030,357,1,26,11,31,1,24,0,...,31.0,0.0,290.0,0.0,22.0,11.0,13.0,0.0,37.0,0.0
43,Texas A&M University-San Antonio,78224,6337,1,2,7,42,0,35,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Texas A & M University-Central Texas,76549,2575,1,3,27,23,1,42,3,...,45.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,University of North Texas at Dallas,75241,3509,0,2,31,46,0,16,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,University of Texas Health Science Center at T...,75708,35,0,3,23,9,0,43,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
print(list(data_2))
print(list(data_3))

['Institution Name', 'Zipcode', '2017.Total  enrollment', '2017.Percent of total enrollment that are American Indian or Alaska Native', '2017.Percent of total enrollment that are Asian', '2017.Percent of total enrollment that are Black or African American', '2017.Percent of total enrollment that are Hispanic/Latino', '2017.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander', '2017.Percent of total enrollment that are White', '2017.Percent of total enrollment that are two or more races', '2016.Total  enrollment', '2016.Percent of total enrollment that are American Indian or Alaska Native', '2016.Percent of total enrollment that are Asian', '2016.Percent of total enrollment that are Black or African American', '2016.Percent of total enrollment that are Hispanic/Latino', '2016.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander', '2016.Percent of total enrollment that are White', '2016.Percent of total enrollment that are two or more races', '2015.Total  enrollment', '2015.Percent of total enrollment that are American Indian or Alaska Native', '2015.Percent of total enrollment that are Asian', '2015.Percent of total enrollment that are Black or African American', '2015.Percent of total enrollment that are Hispanic/Latino', '2015.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander', '2015.Percent of total enrollment that are White', '2015.Percent of total enrollment that are two or more races', '2014.Total  enrollment', '2014.Percent of total enrollment that are American Indian or Alaska Native', '2014.Percent of total enrollment that are Asian', '2014.Percent of total enrollment that are Black or African American', '2014.Percent of total enrollment that are Hispanic/Latino', '2014.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander', '2014.Percent of total enrollment that are White', '2014.Percent of total enrollment that are two or more races', '2013.Total  enrollment', '2013_RV.Percent of total enrollment that are American Indian or Alaska Native', '2013.Percent of total enrollment that are Asian', '2013.Percent of total enrollment that are Black or African American', '2013.Percent of total enrollment that are Hispanic/Latino', '2013.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander', '2013.Percent of total enrollment that are White', '2013.Percent of total enrollment that are two or more races', '2012.Total  enrollment', '2012.Percent of total enrollment that are American Indian or Alaska Native', '2012.Percent of total enrollment that are Asian', '2012.Percent of total enrollment that are Black or African American', '2012.Percent of total enrollment that are Hispanic/Latino', '2012.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander', '2012.Percent of total enrollment that are White', '2012.Percent of total enrollment that are two or more races']
['Zipcode', '2017.Poverty Rate', '2016.Poverty Rate', '2015.Poverty Rate', '2014.Poverty Rate', '2013.Poverty Rate', '2012.Poverty Rate']

** Merging Both Datasets**

In [0]:
data_4 = data_2.merge(data_3, on="Zipcode", how="inner")
print(data_4)

data_4

                                     Institution Name  Zipcode  \
0                                  Brazosport College    77566
1               Texas A & M University-Corpus Christi    78412
2                      Texas A&M University-Texarkana    75503
3                    University of Houston-Clear Lake    77058
4                      University of Houston-Downtown    77002
5                      University of Houston-Victoria    77901
6                                    Lamar University    77705
7                Texas A & M International University    78041
8                                     Midland College    79705
9                         Midwestern State University    76308
10          The University of Texas Rio Grande Valley    78539
11                      Prairie View A & M University    77446
12                       Sam Houston State University    77340
13                  Stephen F Austin State University    75961
14                             Texas State University    78666
15                          Tarleton State University    76401
16    University of Texas Southwestern Medical Center    75390
17  The University of Texas Health Science Center ...    78229
18                  Texas A & M University-Kingsville    78363
19               The University of Texas at Arlington    76013
20                  The University of Texas at Austin    78712
21                  The University of Texas at Dallas    75080
22    University of North Texas Health Science Center    76107
23       The University of Texas of the Permian Basin    79762
24             The University of Texas at San Antonio    78249
25                          Texas Southern University    77004
26  The University of Texas Health Science Center ...    77030
27  The University of Texas MD Anderson Cancer Center    77030
28                               Tyler Junior College    75701
29                        West Texas A & M University    79016
30                   Texas A&M University-San Antonio    78224
31               Texas A & M University-Central Texas    76549
32                University of North Texas at Dallas    75241
33  University of Texas Health Science Center at T...    75708

    2017.Total  enrollment  \
0                     4245
1                    12232
2                     2066
3                     8542
4                    13919
5                     4353
6                    14506
7                     7640
8                     5564
9                     6080
10                   27809
11                    9219
12                   20938
13                   12614
14                   38666
15                   13019
16                    2238
17                    3277
18                    8674
19                   46497
20                   51525
21                   27642
22                    2285
23                    7022
24                   30768
25                   10237
26                    5242
27                     357
28                   11649
29                   10060
30                    6337
31                    2575
32                    3509
33                      35

    2017.Percent of total enrollment that are American Indian or Alaska Native  \
0                                                   0
1                                                   1
2                                                   1
3                                                   0
4                                                   0
5                                                   0
6                                                   0
7                                                   0
8                                                   1
9                                                   1
10                                                  0
11                                                  0
12                                                  1
13                                                  0
14                                                  0
15                                                  1
16                                                  0
17                                                  0
18                                                  0
19                                                  0
20                                                  0
21                                                  0
22                                                  1
23                                                  0
24                                                  0
25                                                  1
26                                                  0
27                                                  1
28                                                  1
29                                                  0
30                                                  1
31                                                  1
32                                                  0
33                                                  0

    2017.Percent of total enrollment that are Asian  \
0                                                 1
1                                                 4
2                                                 2
3                                                 7
4                                                 9
5                                                 8
6                                                 4
7                                                 0
8                                                 2
9                                                 3
10                                                1
11                                                2
12                                                2
13                                                1
14                                                2
15                                                1
16                                               19
17                                               12
18                                                1
19                                               10
20                                               18
21                                               23
22                                               28
23                                                3
24                                                5
25                                                3
26                                               19
27                                               26
28                                                2
29                                                3
30                                                2
31                                                3
32                                                2
33                                                3

    2017.Percent of total enrollment that are Black or African American  \
0                                                   6
1                                                   6
2                                                  15
3                                                   8
4                                                  21
5                                                  18
6                                                  24
7                                                   0
8                                                   6
9                                                  14
10                                                  1
11                                                 82
12                                                 17
13                                                 17
14                                                 10
15                                                  9
16                                                  3
17                                                  5
18                                                  5
19                                                 14
20                                                  4
21                                                  5
22                                                  7
23                                                  5
24                                                  9
25                                                 77
26                                                 11
27                                                 11
28                                                 20
29                                                  5
30                                                  7
31                                                 27
32                                                 31
33                                                 23

    2017.Percent of total enrollment that are Hispanic/Latino  \
0                                                  40
1                                                  48
2                                                  13
3                                                  32
4                                                  45
5                                                  35
6                                                  17
7                                                  94
8                                                  49
9                                                  18
10                                                 89
11                                                  9
12                                                 23
13                                                 18
14                                                 36
15                                                 19
16                                                  9
17                                                 31
18                                                 65
19                                                 24
20                                                 20
21                                                 14
22                                                 13
23                                                 45
24                                                 53
25                                                  8
26                                                 18
27                                                 31
28                                                 22
29                                                 25
30                                                 42
31                                                 23
32                                                 46
33                                                  9

    2017.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander  \
0                                                   0
1                                                   0
2                                                   0
3                                                   0
4                                                   0
5                                                   0
6                                                   0
7                                                   0
8                                                   0
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                                  0
15                                                  0
16                                                  0
17                                                  0
18                                                  0
19                                                  0
20                                                  0
21                                                  0
22                                                  0
23                                                  0
24                                                  0
25                                                  0
26                                                  0
27                                                  1
28                                                  0
29                                                  0
30                                                  0
31                                                  1
32                                                  0
33                                                  0

    2017.Percent of total enrollment that are White  \
0                                                47
1                                                36
2                                                62
3                                                38
4                                                16
5                                                33
6                                                47
7                                                 2
8                                                38
9                                                51
10                                                3
11                                                2
12                                               51
13                                               58
14                                               47
15                                               66
16                                               33
17                                               42
18                                               14
19                                               36
20                                               42
21                                               30
22                                               45
23                                               39
24                                               24
25                                                2
26                                               38
27                                               24
28                                               54
29                                               59
30                                               35
31                                               42
32                                               16
33                                               43

    2017.Percent of total enrollment that are two or more races  \
0                                                   3
1                                                   0
2                                                   4
3                                                   3
4                                                   1
5                                                   3
6                                                   2
7                                                   0
8                                                   2
9                                                   4
10                                                  0
11                                                  1
12                                                  3
13                                                  4
14                                                  3
15                                                  3
16                                                  3
17                                                  3
18                                                  0
19                                                  3
20                                                  3
21                                                  3
22                                                  0
23                                                  2
24                                                  3
25                                                  2
26                                                  2
27                                                  0
28                                                  0
29                                                  3
30                                                  3
31                                                  3
32                                                  2
33                                                  0

          ...          \
0         ...
1         ...
2         ...
3         ...
4         ...
5         ...
6         ...
7         ...
8         ...
9         ...
10        ...
11        ...
12        ...
13        ...
14        ...
15        ...
16        ...
17        ...
18        ...
19        ...
20        ...
21        ...
22        ...
23        ...
24        ...
25        ...
26        ...
27        ...
28        ...
29        ...
30        ...
31        ...
32        ...
33        ...

    2012.Percent of total enrollment that are Hispanic/Latino  \
0                                                34.0
1                                                43.0
2                                                 9.0
3                                                25.0
4                                                38.0
5                                                24.0
6                                                10.0
7                                                93.0
8                                                39.0
9                                                12.0
10                                               89.0
11                                                6.0
12                                               17.0
13                                               12.0
14                                               28.0
15                                               11.0
16                                                8.0
17                                               26.0
18                                               64.0
19                                               21.0
20                                               18.0
21                                               12.0
22                                               10.0
23                                               42.0
24                                               45.0
25                                                6.0
26                                                8.0
27                                               13.0
28                                               13.0
29                                               21.0
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN

    2012.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander  \
0                                                 0.0
1                                                 0.0
2                                                 0.0
3                                                 0.0
4                                                 0.0
5                                                 0.0
6                                                 0.0
7                                                 0.0
8                                                 0.0
9                                                 0.0
10                                                0.0
11                                                0.0
12                                                0.0
13                                                0.0
14                                                0.0
15                                                0.0
16                                                0.0
17                                                0.0
18                                                0.0
19                                                0.0
20                                                0.0

,Institution Name,Zipcode,2017.Total enrollment,2017.Percent of total enrollment that are American Indian or Alaska Native,2017.Percent of total enrollment that are Asian,2017.Percent of total enrollment that are Black or African American,2017.Percent of total enrollment that are Hispanic/Latino,2017.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander,2017.Percent of total enrollment that are White,2017.Percent of total enrollment that are two or more races,...,2012.Percent of total enrollment that are Hispanic/Latino,2012.Percent of total enrollment that are Native Hawaiian or Other Pacific Islander,2012.Percent of total enrollment that are White,2012.Percent of total enrollment that are two or more races,2017.Poverty Rate,2016.Poverty Rate,2015.Poverty Rate,2014.Poverty Rate,2013.Poverty Rate,2012.Poverty Rate
0,Brazosport College,77566,4245,0,1,6,40,0,47,3,...,34.0,0.0,53.0,3.0,8.4,7.9,8,7.7,7.1,6.2
1,Texas A & M University-Corpus Christi,78412,12232,1,4,6,48,0,36,0,...,43.0,0.0,42.0,1.0,22,22.2,22.5,21.9,20.7,19.3
2,Texas A&M University-Texarkana,75503,2066,1,2,15,13,0,62,4,...,9.0,0.0,70.0,2.0,15.2,14.1,12.3,14.7,13.6,13
3,University of Houston-Clear Lake,77058,8542,0,7,8,32,0,38,3,...,25.0,0.0,45.0,2.0,18.3,19.3,18.6,19.4,16.1,15.1
4,University of Houston-Downtown,77002,13919,0,9,21,45,0,16,1,...,38.0,0.0,19.0,1.0,17.5,18.2,19.2,17.1,18.7,18.9
5,University of Houston-Victoria,77901,4353,0,8,18,35,0,33,3,...,24.0,0.0,40.0,2.0,21.3,20.2,22.5,24.3,23.7,23.3
6,Lamar University,77705,14506,0,4,24,17,0,47,2,...,10.0,0.0,52.0,1.0,25,27,27.1,27.9,27,26.3
7,Texas A & M International University,78041,7640,0,0,0,94,0,2,0,...,93.0,0.0,2.0,0.0,29.4,31.5,30.7,30.3,29.8,28.8
8,Midland College,79705,5564,1,2,6,49,0,38,2,...,39.0,0.0,47.0,1.0,10,8.8,9.7,10.2,9,8.3
9,Midwestern State University,76308,6080,1,3,14,18,0,51,4,...,12.0,0.0,60.0,2.0,15.7,14.2,14.1,12.7,13.3,13.1
10,The University of Texas Rio Grande Valley,78539,27809,0,1,1,89,0,3,0,...,89.0,0.0,4.0,0.0,21,20.8,21.9,19.5,17.8,19.7
11,Prairie View A & M University,77446,9219,0,2,82,9,0,2,1,...,6.0,0.0,5.0,2.0,61,50.3,51,48.3,41.9,37
12,Sam Houston State University,77340,20938,1,2,17,23,0,51,3,...,17.0,0.0,59.0,2.0,30.3,30.2,29.2,30,31.1,28.9
13,Stephen F Austin State University,75961,12614,0,1,17,18,0,58,4,...,12.0,0.0,59.0,1.0,30.8,30.4,29.9,29.5,29.1,30.1
14,Texas State University,78666,38666,0,2,10,36,0,47,3,...,28.0,0.0,57.0,2.0,30.4,31.7,32.1,31.7,31.9,31.4
15,Tarleton State University,76401,13019,1,1,9,19,0,66,3,...,11.0,0.0,61.0,2.0,23.9,27.4,27.9,28.5,26.8,27.1
16,University of Texas Southwestern Medical Center,75390,2238,0,19,3,9,0,33,3,...,8.0,0.0,39.0,1.0,-,-,-,-,-,-
17,The University of Texas Health Science Center ...,78229,3277,0,12,5,31,0,42,3,...,26.0,0.0,46.0,2.0,25.4,25.5,25.2,24.4,24.5,27.3
18,Texas A & M University-Kingsville,78363,8674,0,1,5,65,0,14,0,...,64.0,0.0,21.0,1.0,24.6,24.7,27.1,26.2,25.1,25.8
19,The University of Texas at Arlington,76013,46497,0,10,14,24,0,36,3,...,21.0,0.0,42.0,3.0,18.6,19.3,19.9,19.5,18,19.2
20,The University of Texas at Austin,78712,51525,0,18,4,20,0,42,3,...,18.0,0.0,50.0,2.0,-,-,-,-,-,-
21,The University of Texas at Dallas,75080,27642,0,23,5,14,0,30,3,...,12.0,0.0,38.0,3.0,15.3,15.1,15.1,15.5,17.8,16
22,University of North Texas Health Science Center,76107,2285,1,28,7,13,0,45,0,...,10.0,0.0,49.0,2.0,18.2,16.8,18.1,17.9,18.6,16.5
23,The University of Texas of the Permian Basin,79762,7022,0,3,5,45,0,39,2,...,42.0,0.0,46.0,1.0,9.5,9.8,10.2,11.9,12.6,11.3
24,The University of Texas at San Antonio,78249,30768,0,5,9,53,0,24,3,...,45.0,0.0,31.0,3.0,18.3,18.3,17.1,16.8,16,15.9
25,Texas Southern University,77004,10237,1,3,77,8,0,2,2,...,6.0,0.0,3.0,0.0,26,23.9,25.5,27.2,28.4,27.9
26,The University of Texas Health Science Center ...,77030,5242,0,19,11,18,0,38,2,...,8.0,0.0,49.0,2.0,16.2,13.8,13.3,13.4,12.5,12.5
27,The University of Texas MD Anderson Cancer Center,77030,357,1,26,11,31,1,24,0,...,13.0,0.0,37.0,0.0,16.2,13.8,13.3,13.4,12.5,12.5
28,Tyler Junior College,75701,11649,1,2,20,22,0,54,0,...,13.0,0.0,59.0,1.0,19.2,20.4,20.7,20,19.2,21.5
29,West Texas A & M University,79016,10060,0,3,5,25,0,59,3,...,21.0,0.0,67.0,2.0,-,-,-,-,-,-
30,Texas A&M University-San Antonio,78224,6337,1,2,7,42,0,35,3,...,NaN,NaN,NaN,NaN,18.6,19.1,20.7,20.3,18.5,19.3
31,Texas A & M University-Central Texas,76549,2575,1,3,27,23,1,42,3,...,NaN,NaN,NaN,NaN,10.2,8.9,10.9,13.3,14.8,16.5
32,University of North Texas at Dallas,75241,3509,0,2,31,46,0,16,2,...,NaN,NaN,NaN,NaN,26.5,24.2,25.7,28.1,29.3,30.9
33,University of Texas Health Science Center at T...,75708,35,0,3,23,9,0,43,0,...,NaN,NaN,NaN,NaN,20.9,20.7,22.1,22.7,26.5,19